body {
    background-color: #1b1b1b ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    color: whitesmoke;
    margin-left: 250px;
}

p {
    font-size: larger;
}

,backtohome {
    text-align: center;
}

.music-sample {
    margin-left: 100px;
}